<a href="https://colab.research.google.com/github/juliana237/WTM-GDG-Bambili-30-days-of-code-Datascience/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
answer=2+2
print(answer)

4

simple addition of intergers

In [4]:
var1=2+2
print(var1)
#var1 is of type intergers

4

assigning intergers to variables
addition of intergers
result gives an interger

In [6]:
var2=3+2/5
print(var2)
#var2 is of data type float

3.4

addition of intergers and result gives a float

In [8]:
var3=4*16
print(var3)
#var3 is of data type int

64

multiplication of intergers

In [12]:
var4= 4**6
print(var4)
#var4 is of type int

4096

using the power opertor to evaluate 4 raised to the power 6

In [15]:
var5='hello' + '' + 'world'
print(var5)
#var5 is of type string

helloworld

concatenation(addition) of 2 strings to give a string

In [17]:
var6="hello world"*5
print(var6)
#data type string

hello worldhello worldhello worldhello worldhello world

concatenation of a sting 5 times

In [18]:
var7=4%3
print(var7)
#var7 is of data type int

1

using the modulos operator % to evaluate 4mod3